// base
@import "base/colors";
@import "base/typography";
@import "base/normalize";

// components
@import "components/buttons";
@import "components/navigation";

// layout
@import "layout/header";

//pages


// themes


// utils


// vendors






#topbar {
  background: $bg-color;
  height: 10vh;
}

//  Main Navigation

nav.mainmenu {
  text-align: left;
  clear: both;
}

nav.mainmenu ul {
  //  display: inline-block;
}

nav.mainmenu ul li {
  margin: 10px 0;
  list-style: none;
}

nav.mainmenu ul li a {
  color: $primary-color-light;
}

nav.mainmenu ul li a:hover {
  color: $primary-color;
}

nav.mainmenu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $base-font;
}
