
/*################
  Main Navigation
################*/

nav.mainmenu {
  text-align: left;
  display: block;
  clear: both;
}

nav.mainmenu ul {
  display: inline-block;
}

nav.mainmenu ul li {
  margin: 10px 15px;
  list-style: none;
}

nav.mainmenu ul li a {
  color: $primary-color;
}

nav.mainmenu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $bold;
  font-family: $navigation-font-family;
}
