
// Colors
$base-color: #f4f4f4;
$bg-color: #353b41;
$primary-color: #3cd5af;
$primary-color-light: lighten( $primary-color, 10% );
$primary-color-dark: darken( $primary-color, 10% );
$secondary-color: #ff828a;
$secondary-color-light: lighten( $secondary-color, 10% );
$secondary-color-dark: darken( $secondary-color, 10% );
