
// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font: 'Source Sans Pro', sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Logo
$logo-font-weight: $regular;
$logo-font: 'Source Sans Pro', sans-serif;

// Navigation
$navigation-font-weight: $bold;
$navigation-font-family: 'Helvetica', sans-serif;

// Headings
$heading-font: 'Open Sans' sans-serif;
