
/*################
  Logo
################*/


#logo {
  display: block;
  float: left;
  font-family: $logo-font;
  font-weight: 600;
  font-size: 60px;
  color: $primary-color;
}

#logo img {
  width: 100%;
}

#profil {
  margin: 35px;
  float: right;
}

#profil img {
  width: 20px;
  height: 20px;
  display: block;
}
